body {
  margin: 0;
}
html,
body,
#root {
  height: 100%;
  background: white; /* #fedd00; /* #daebe6 */
  color: white;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
